.row {
    padding: 20px;
}

div {
    background-color: rgb(95, 195, 235);
    text-align: center; 
}

/* foto de perfil formato */
@media (min-width: 576px) {
    #fotodeperfil {
        position:absolute;
        width: 15%;
        left: 10px;
        top:635px;
        border-radius: 80% ;
        box-shadow: 3px 3px 3px grey;
    }
}

/*etiqueta nombre*/
#nombre {
    font-weight: bold;
    margin-top: 30%;
}