<div class="row">
    <h1>Hard & Soft skill</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="95"
  [radius]="100"
  [imageSrc]="'../assets/html.png'"
  [showImage]="true"
  [imageHeight]="65"
  [imageWidth]="65"
  [title]="'HTML'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'orange'"
  [innerStrokeColor]="'orange'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="80"
  [radius]="100"
  [imageSrc]="'../assets/js.png'"
  [showImage]="true"
  [imageHeight]="65"
  [imageWidth]="65"
  [title]="'HTML'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F3F929'"
  [innerStrokeColor]="'#F3F929'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="80"
  [radius]="100"
  [imageSrc]="'../assets/CSS.png'"
  [showImage]="true"
  [imageHeight]="65"
  [imageWidth]="65"
  [title]="'HTML'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#2657FC'"
  [innerStrokeColor]="'#2657FC'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="75"
  [radius]="100"
  [imageSrc]="'../assets/git.png'"
  [showImage]="true"
  [imageHeight]="65"
  [imageWidth]="65"
  [title]="'HTML'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#2A2B2E'"
  [innerStrokeColor]="'#2A2B2E'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="100"
  [radius]="100"
  [imageSrc]="'../assets/grupal.png'"
  [showImage]="true"
  [imageHeight]="65"
  [imageWidth]="65"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#8E16B8'"
  [innerStrokeColor]="'#8E16B8'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="30"
  [radius]="100"
  [imageHeight]="65"
  [imageWidth]="65"
  [title]="'Ingles'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
</div>